<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
</head>

<body>
<h2>Input your security key:</h2>
<form action="/blog/edit" method="POST">
    <input type="password" size="100" id="key" name="key" />
    <input type="hidden" id="blog_id" name="blog_id" value="{{blog_id}}"/>
    <input type="submit"/>
</form>


<hr>
<address><a href="mailto:songguo.hit@gmail.com ">Guo Song</a></address>
<!-- hhmts start --> Last modified: Fri Jun  7 19:52:48 CST 2013 <!-- hhmts end -->
</body> </html>
